﻿@model Airlines.Business.DTOs.AirlineDTO

<section class="form-wrapper">
    <button class="orange-button" id="show-form-button">Show Form</button>
    <form asp-controller="Airlines" asp-action="AddAirline" id="submit-entity-form" method="post">
        <fieldset>
            <legend>Add New Airline</legend>
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" name="Name" id="Name" />
            @* <span asp-validation-for="Name" class="form-error-text"></span> *@
            <span id="name-error" class="form-error-text"></span>
            <label asp-for="Founded">Founded</label>
            <input type="date" asp-for="Founded" name="Founded" />
            @* <span asp-validation-for="Founded" class="form-error-text"></span> *@
            <span id="founded-error" class="form-error-text"></span>
            <label asp-for="FleetSize">Fleet Size</label>
            <input type="Number" asp-for="FleetSize" name="FleetSize" />
            @* <span asp-validation-for="FleetSize" class="form-error-text"></span> *@
            <span id="fleet-size-error" class="form-error-text"></span>
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" name="Description"></textarea>
            @* <span asp-validation-for="Description" class="form-error-text"></span> *@
            <span id="description-error" class="form-error-text"></span>
            <input type="submit"
                   value="Submit"
                   class="orange-button"
                   id="submit-form-button" />
        </fieldset>
    </form>
</section>
<script defer src="/js/airline-validation.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
