﻿@model AirlinesWeb.Models.Airlines.AirlineViewModel;

<section class="control-fields">
    <form asp-controller="Airlines" asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Search for an Airline" value="@Model.SearchString" />
        <input type="hidden" name="pageNumber" value="@Model.Pagination.CurrentPage" />
        <input type="submit"
               value="Search"
               class="orange-button"
               id="search-form-button" />
    </form>
</section>