﻿@model AirlinesWeb.Models.Airlines.AirlineViewModel;

@{
    ViewData["Title"] = "Airlines";

    var pageNumberString = ViewContext.HttpContext.Request.Query["pageNumber"];
    if (!int.TryParse(pageNumberString, out var pageNumber))
    {
        pageNumber = 1;
    }
}

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" id="arrow-back">
        <img src="~/assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Airlines</h2>
</div>

@await Html.PartialAsync("_ControlFields", Model)
@await Html.PartialAsync("_ToggleButtons")

<section class="table-container">
    <table id="main-table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Airline.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Airline.Founded)</th>
                <th>Fleet Size</th>
                <th>@Html.DisplayNameFor(model => model.Airline.Description)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Airlines)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Founded)</td>
                    <td>@Html.DisplayFor(modelItem => item.FleetSize)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                </tr>
            }
        </tbody>
    </table>
    <button id="go-to-top-button">^</button>
</section>
<section class="pagination">
    @if (Model.Pagination != null)
    {
        <ul>
            @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
            {
                <li>
                    @if (pageNumber == i)
                    {
                        <a asp-action="Index"
                           asp-route-searchString="@Model.SearchString"
                           asp-route-pageNumber="@i"
                           class="active">
                            @i
                        </a>
                    }
                    else
                    {
                        <a asp-action="Index"
                           asp-route-searchString="@Model.SearchString"
                           asp-route-pageNumber="@i">
                            @i
                        </a>
                    }
                </li>
            }
        </ul>
    }
</section>
<script defer src="/js/animations.js"></script>

@await Html.PartialAsync("_AddAirline", Model.Airline)