﻿@model Airlines.Business.DTOs.FlightDTO

<section class="form-wrapper">
    <button class="orange-button" id="show-form-button">Show Form</button>
    <form asp-controller="Flights" asp-action="AddFlight" id="submit-entity-form" method="post">
        <fieldset>
            <legend>Add New Flight</legend>
            <label asp-for="FlightNumber">Flight Number</label>
            <input type="text" asp-for="FlightNumber" name="FlightNumber" />
            @* <span asp-validation-for="FlightNumber" class="form-error-text"></span> *@
            <span id="flight-number-error" class="form-error-text"></span>
            <label asp-for="FromAirport">From</label>
            <input type="text" asp-for="FromAirport" name="FromAirport" />
            @* <span asp-validation-for="FromAirport" class="form-error-text"></span> *@
            <span id="from-airport-error" class="form-error-text"></span>
            <label asp-for="ToAirport">To</label>
            <input type="text" asp-for="ToAirport" name="ToAirport" />
            @* <span asp-validation-for="ToAirport" class="form-error-text"></span> *@
            <span id="to-airport-error" class="form-error-text"></span>
            <div class="input-departure-and-arrival-container">
                <div class="input-departure-container">
                    <label asp-for="DepartureDateTime">Departure</label>
                    <input type="datetime-local"
                           asp-for="DepartureDateTime"
                           name="DepartureDateTime" />
                    @* <span asp-validation-for="DepartureDateTime" class="form-error-text"></span> *@
                     <span id="departure-datetime-error" class="form-error-text"></span>
                </div>
                <div class="input-arrival-container">
                    <label asp-for="ArrivalDateTime">Arrival</label>
                    <input type="datetime-local"
                           asp-for="ArrivalDateTime"
                           name="ArrivalDateTime" />
                    @* <span asp-validation-for="ArrivalDateTime" class="form-error-text"></span> *@
                    <span id="arrival-datetime-error" class="form-error-text"></span>
                </div>
            </div>
            <input type="submit"
                   value="Submit"
                   class="orange-button"
                   id="submit-form-button" />
        </fieldset>
    </form>
</section>
<script defer src="/js/flight-validation.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
