﻿@model AirlinesWeb.Models.Flights.FlightsViewModel;

<section class="control-fields">
    <form asp-controller="Flights" asp-action="Index" method="get">
        <input type="text" name="searchString" placeholder="Search for a Flight" value="@Model.SearchString" />
        <input type="hidden" name="departureFilter" value="@Model.DepartureFilter" />
        <input type="hidden" name="pageNumber" value="@Model.Pagination.CurrentPage" />
        <input type="submit"
               value="Search"
               class="orange-button"
               id="search-form-button" />
    </form>
    <form asp-controller="Flights" asp-action="Index" method="get">
        <label for="departureFilter">Filter by Departure:</label>
        <select asp-for="DepartureFilter" asp-items="Model.DepartureFilters"></select>
        <input type="hidden" name="searchString" value="@Model.SearchString" />
        <input type="hidden" name="pageNumber" value="@Model.Pagination.CurrentPage" />
        <input type="submit" value="Apply Filter" class="orange-button" />
    </form>
</section>