﻿@model AirlinesWeb.Models.Flights.FlightsViewModel;

@{
    ViewData["Title"] = "Flights";

    var pageNumberString = ViewContext.HttpContext.Request.Query["pageNumber"];
    if (!int.TryParse(pageNumberString, out var pageNumber))
    {
        pageNumber = 1;
    }
}

<div class="main-header">
    <a asp-controller="Home" asp-action="Index" id="arrow-back">
        <img src="~/assets/left sidebar.png" alt="arrow-back" />
    </a>
    <h2>Flights</h2>
</div>

@await Html.PartialAsync("_ControlFields", Model)
@await Html.PartialAsync("_ToggleButtons")

<section class="table-container">
    <table id="main-table">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>From</th>
                <th>To</th>
                <th>Departure</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Flights)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FlightNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.FromAirport)</td>
                    <td>@Html.DisplayFor(modelItem => item.ToAirport)</td>
                    <td>@Html.DisplayFor(modelItem => item.DepartureDateTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.ArrivalDateTime)</td>
                </tr>
            }
        </tbody>
    </table>
    <button id="go-to-top-button">^</button>
</section>
<section class="pagination">
    @if (Model.Pagination != null)
    {
        <ul>
        @for (int i = 1; i <= Model.Pagination.TotalPages; i++)
        {
            <li>
                    @if (pageNumber == i)
                {
                    <a asp-action="Index"
                        asp-route-searchString="@Model.SearchString"
                        asp-route-departureFilter="@Model.DepartureFilter"
                        asp-route-pageNumber="@i"
                        class="active">
                        @i
                    </a>
                } else
                {
                    <a asp-action="Index"
                        asp-route-searchString="@Model.SearchString"
                        asp-route-departureFilter="@Model.DepartureFilter"
                        asp-route-pageNumber="@i">
                        @i
                    </a>
                }
            </li>
        }
        </ul>
    }
</section>
<script defer src="/js/animations.js"></script>

@await Html.PartialAsync("_AddFlight", Model.Flight)