﻿@model AirlinesWeb.Models.Home.HomeViewModel;

@{
    ViewData["Title"] = "Dashboard";
}

<h2 id="dashboard-header">Welcome To Dashboard</h2>
<div class="dashboard">
    <div class="dashboard-card">
        <div class="dashboard-card-inner">
            Airports
            <img src="~/assets/mdi_airport.png" alt="airport-icon" />
            @Model.AirportsCount
        </div>
        <a asp-controller="Airports" asp-action="Index">
            <button class="grey-button">Add New Airport</button>
        </a>
    </div>
    <div class="dashboard-card">
        <div class="dashboard-card-inner">
            Airlines
            <img src="~/assets/ri_plane-fill.png" alt="plane-icon" />
            @Model.AirlinesCount
            </div>
        <a asp-controller="Airlines" asp-action="Index">
            <button class="grey-button">Add New Airline</button>
        </a>
    </div>
    <div class="dashboard-card">
        <div class="dashboard-card-inner">
            Flights
            <img src="./assets/carbon_flight-schedule.png"
                 alt="flight-schedule-icon" />
            @Model.FlightsCount
        </div>
        <a asp-controller="Flights" asp-action="Index">
            <button class="grey-button">Add New Flight</button>
        </a>
    </div>
</div>
