:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --accent-primary: #fca311;
    --accent-secondary: #e5e5e5;
    --accent-hover: #14213D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scrollbar-width: thin;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
    height: 40px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    font-size: 12px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

#logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    margin-left: 5px;
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
}

#logo img {
    width: 15px;
    margin-left: 8px;
}

nav {
    margin-right: 5px;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul a {
    margin-right: 15px;
    text-decoration: none;
    color: var(--primary-color);
    user-select: none;
}

nav ul a:hover {
    color: var(--accent-primary);
    transition: color 0.3s ease;
}

nav ul a.active {
    color: var(--accent-primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

#dashboard-header {
    font-weight: 700;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.dashboard-card {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.dashboard-card-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5%;
    border-color: var(--accent-primary);
    font-size: 18px;
    font-weight: 700;
}

.dashboard-card-inner img {
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 30px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    font-weight: 700;
}

button:hover,
#submit-form-button:hover {
    color: var(--primary-color);
    background-color: var(--accent-hover);
    transition: all 0.3s ease;
}

#submit-form-button:disabled, #submit-form-button:hover:disabled {
    background-color: var(--accent-primary);
    opacity: 0.5;
    cursor: not-allowed;
}

.grey-button {
    background-color: var(--accent-secondary);
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 350px;
    max-height: 450px;
    overflow: auto;
}

table {
    width: 100%;
    min-width: 550px;
    table-layout: fixed;
    text-align: center;
    overflow: auto;
}

table,
th,
td {
    border: 1px solid var(--secondary-color);
    border-collapse: collapse;
    white-space: nowrap;
    padding: 8px;
}

th {
    position: sticky;
    top: 0;
    background-color: var(--accent-secondary);
    font-weight: 700;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

td:hover {
    overflow: visible;
    white-space: initial;
}

.main-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--accent-secondary);
}

.main-header h2 {
    position: relative;
    font-size: 32px;
    font-weight: 500;
}

#arrow-back {
    position: absolute;
    left: 18%;
    user-select: none;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 330px;
    margin-bottom: 40px;
    margin-top: 40px;
}

form {
    width: 100%;
}

fieldset {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    border: 2px solid var(--accent-secondary);
    border-radius: 18px;
}

legend {
    font-size: 15px;
    font-weight: 500;
}

input,
label,
textarea {
    margin: 0 5px;
}

label {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

input,
textarea {
    padding: 2px;
    border-radius: 10px;
    border: 2px solid var(--accent-secondary);
}

.input-departure-and-arrival-container {
    display: flex;
    width: 100%;
}

.input-departure-container,
.input-arrival-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-departure-container input,
.input-arrival-container input {
    font-size: 12px;
    width: 130px;
}

.orange-button {
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-color);
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: var(--accent-primary);
}

#show-form-button {
    width: 60%;
    height: 30px;
    padding: 5px;
}

#toggle-container {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    gap: 5px;
    margin-bottom: 10px;
}

#toggle-table-button {
    width: 100px;
    height: 30px;
    padding: 5px;
}

#toggle-table-items-button {
    width: 140px;
    height: 30px;
    padding: 5px;
}

#go-to-top-button {
    position: relative;
    background-color: var(--accent-primary);
    color: var(--primary-color);
    margin-top: 5px;
    width: auto;
    height: 35px;
    padding: 10px;
    left: 47%;
    bottom: 55px;
    opacity: 0.5;
}

#go-to-top-button:hover {
    opacity: 1;
    background-color: var(--accent-hover);
}

#submit-form-button {
    margin-top: 5px;
    margin-bottom: 0;
}

.control-fields {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    width: 50%;
    gap: 30px
}

.control-fields form {
    width: fit-content;
}

.control-fields form .orange-button {
    width: auto;
    height: 30px;
}

.pagination ul {
    display: flex;
    list-style-type: none;
    gap: 5px;
    margin-top: 15px;
}

.pagination ul li {
    justify-content: center;
    align-items: center;
}

.pagination ul a {
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--accent-primary);
    user-select: none;
    padding: 10px;
    height: 35px;
    font-size: 12px;
    font-weight: 700;
    color: var(--primary-color);
    border: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.pagination ul a:hover {
    color: var(--primary-color);
    background-color: var(--accent-hover);
    transition: all 0.3s ease;
}

.pagination ul a.active {
    color: var(--primary-color);
    background-color: var(--accent-hover);
}

.form-error-text {
    font-size: 12px;
    color: red;
}

@media (max-width: 1200px) {
    .table-container {
        width: 80%;
    }
}

@media (max-width: 900px) {
    table {
        font-size: 12px;
    }

    td {
        padding: 5px;
    }
}

@media (max-width: 768px) {
    header {
        font-size: 15px;
    }

    main {
        margin-top: 50px;
    }

    .dashboard {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    #arrow-back {
        left: 0;
    }
}
