﻿@model Airlines.Business.DTOs.AirportDTO

<section class="form-wrapper">
    <button class="orange-button" id="show-form-button">Show Form</button>
    <form asp-controller="Airports" asp-action="AddAirport" id="submit-entity-form" method="post">
        <fieldset>
            <legend>Add New Airport</legend>
            <label asp-for="Name">Name</label>
            <input type="text" asp-for="Name" name="Name" />
            @* <span asp-validation-for="Name" class="form-error-text"></span> *@
            <span id="name-error" class="form-error-text"></span>
            <label asp-for="Country">Country</label>
            <input type="text" asp-for="Country" name="Country" />
            @* <span asp-validation-for="Country" class="form-error-text"></span> *@
            <span id="country-error" class="form-error-text"></span>
            <label asp-for="City">City</label>
            <input type="text" asp-for="City" name="City" />
            @* <span asp-validation-for="City" class="form-error-text"></span> *@
            <span id="city-error" class="form-error-text"></span>
            <label asp-for="Code">Code</label>
            <input type="text" asp-for="Code" name="Code" />
            @* <span asp-validation-for="Code" class="form-error-text"></span> *@
            <span id="code-error" class="form-error-text"></span>
            <label asp-for="RunwaysCount">Runways</label>
            <input type="number"
                   asp-for="RunwaysCount"
                   name="RunwaysCount" />
            @* <span asp-validation-for="RunwaysCount" class="form-error-text"></span> *@
            <span id="runways-error" class="form-error-text"></span>
            <label asp-for="Founded">Founded</label>
            <input type="date" asp-for="Founded" name="Founded" />
            @* <span asp-validation-for="Founded" class="form-error-text"></span> *@
            <span id="founded-error" class="form-error-text"></span>
            <input type="submit"
                   value="Submit"
                   class="orange-button"
                   id="submit-form-button" />
        </fieldset>
    </form>
</section>
<script defer src="/js/airport-validation.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
