﻿<header>
    <a id="logo" asp-controller="Home" asp-action="Index">
        <h1>Rise Airlines</h1>
        <img src="~/assets/header-plane.png" alt="plane-header" />
    </a>
    <nav>
        <ul>
            <li><a asp-controller="Airports" asp-action="Index">Airports</a></li>
            <li><a asp-controller="Airlines" asp-action="Index">Airlines</a></li>
            <li><a asp-controller="Flights" asp-action="Index">Flights</a></li>
        </ul>
    </nav>
</header>