﻿<div id="toggle-container">
    <button class="orange-button" id="toggle-table-button">Toggle Table</button>
    <button class="orange-button" id="toggle-table-items-button">Toggle Table Items</button>
</div>